<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ice-Frog-21-Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 0}, {696, 438}}</string>
			<key>spriteOffset</key>
			<string>{14, 4}</string>
			<key>spriteSize</key>
			<string>{696, 438}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 445}, {438, 696}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ice-Frog-21-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {417, 261}}</string>
			<key>spriteOffset</key>
			<string>{9, 2}</string>
			<key>spriteSize</key>
			<string>{417, 261}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 1077}, {417, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-21-Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {247, 156}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{247, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 833}, {156, 247}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ice-Frog-22-Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 0}, {694, 444}}</string>
			<key>spriteOffset</key>
			<string>{13, 1}</string>
			<key>spriteSize</key>
			<string>{694, 444}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {694, 444}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-22-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 0}, {413, 265}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{413, 265}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 0}, {265, 413}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ice-Frog-22-Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {245, 156}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{245, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 1081}, {156, 245}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ice-Frog-23-Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {337, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{337, 324}</string>
			<key>spriteSourceSize</key>
			<string>{337, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{641, 752}, {337, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-23-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{201, 193}</string>
			<key>spriteSourceSize</key>
			<string>{201, 193}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 445}, {201, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-23-Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{118, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 1142}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-24-Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {337, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{337, 324}</string>
			<key>spriteSourceSize</key>
			<string>{337, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 414}, {324, 337}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ice-Frog-24-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{201, 193}</string>
			<key>spriteSourceSize</key>
			<string>{201, 193}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 639}, {201, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-Frog-24-Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{118, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1142}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>.pvr.ccz</string>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>BTFrog-Ice-21-24-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>