<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Credits-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Credits-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Credits-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 376}, {320, 480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Dr-Tim-results.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 21}</string>
			<key>spriteSourceSize</key>
			<string>{136, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 475}, {21, 136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>alltime-results.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {195, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{195, 19}</string>
			<key>spriteSourceSize</key>
			<string>{195, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 836}, {195, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>back-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {85, 67}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{85, 67}</string>
			<key>spriteSourceSize</key>
			<string>{95, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 658}, {85, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>back-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {89, 69}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{89, 69}</string>
			<key>spriteSourceSize</key>
			<string>{95, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{945, 569}, {69, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>beams-select-lilypad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {100, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{100, 71}</string>
			<key>spriteSourceSize</key>
			<string>{100, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{953, 376}, {71, 100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>game-over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {291, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{291, 126}</string>
			<key>spriteSourceSize</key>
			<string>{291, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{710, 857}, {291, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hat-select-lilypad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 73}</string>
			<key>spriteSourceSize</key>
			<string>{100, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 513}, {100, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>help-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {36, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{36, 57}</string>
			<key>spriteSourceSize</key>
			<string>{36, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 798}, {36, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>help-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 61}</string>
			<key>spriteSourceSize</key>
			<string>{36, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 798}, {61, 36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>high-score-box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {233, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{233, 156}</string>
			<key>spriteSourceSize</key>
			<string>{233, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 858}, {233, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>home-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {69, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{69, 60}</string>
			<key>spriteSourceSize</key>
			<string>{69, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 0}, {60, 69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>home-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 64}</string>
			<key>spriteSourceSize</key>
			<string>{69, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 576}, {69, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hopshop-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {150, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{150, 87}</string>
			<key>spriteSourceSize</key>
			<string>{156, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 858}, {87, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hopshop-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {150, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{150, 89}</string>
			<key>spriteSourceSize</key>
			<string>{156, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 858}, {89, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>left-arrow-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {37, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{37, 55}</string>
			<key>spriteSourceSize</key>
			<string>{37, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 322}, {55, 37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>left-arrow-undepressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 57}</string>
			<key>spriteSourceSize</key>
			<string>{37, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{515, 322}, {57, 37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>menu-button-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 43}</string>
			<key>spriteSourceSize</key>
			<string>{119, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 322}, {119, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-button-undepressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 47}</string>
			<key>spriteSourceSize</key>
			<string>{119, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 322}, {119, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mute-muted.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 61}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{51, 61}</string>
			<key>spriteSourceSize</key>
			<string>{73, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 322}, {61, 51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>mute-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 50}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{42, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 322}, {42, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mute-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 61}</string>
			<key>spriteSourceSize</key>
			<string>{73, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 513}, {73, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {85, 65}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{95, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 727}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {89, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{89, 69}</string>
			<key>spriteSourceSize</key>
			<string>{95, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{953, 478}, {69, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>off-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 23}</string>
			<key>spriteSourceSize</key>
			<string>{55, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 361}, {23, 55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>off-unselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 23}</string>
			<key>spriteSourceSize</key>
			<string>{55, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 418}, {23, 55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>on-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 23}</string>
			<key>spriteSourceSize</key>
			<string>{39, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 322}, {23, 39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>on-unselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 23}</string>
			<key>spriteSourceSize</key>
			<string>{39, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{465, 322}, {23, 39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause-box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 320}</string>
			<key>spriteSourceSize</key>
			<string>{189, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{631, 322}, {320, 189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>play-button-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {143, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 54}</string>
			<key>spriteSourceSize</key>
			<string>{143, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 798}, {143, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play-button-undepressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 58}</string>
			<key>spriteSourceSize</key>
			<string>{143, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 131}, {58, 143}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>play-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{86, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{856, 642}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 68}</string>
			<key>spriteSourceSize</key>
			<string>{86, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 588}, {86, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restart-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {58, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 60}</string>
			<key>spriteSourceSize</key>
			<string>{58, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 71}, {60, 58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>restart-unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 64}</string>
			<key>spriteSourceSize</key>
			<string>{58, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 798}, {64, 58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>results.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 18}, {420, 270}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{420, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 376}, {270, 420}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>right-arrow-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {41, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{41, 55}</string>
			<key>spriteSourceSize</key>
			<string>{41, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 322}, {55, 41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>right-arrow-undepressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 57}</string>
			<key>spriteSourceSize</key>
			<string>{41, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 322}, {57, 41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>sounds.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 58}</string>
			<key>spriteSourceSize</key>
			<string>{98, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 276}, {58, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>sounds_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {293, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{293, 149}</string>
			<key>spriteSourceSize</key>
			<string>{293, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 857}, {293, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>weekly-results.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {179, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{179, 19}</string>
			<key>spriteSourceSize</key>
			<string>{179, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 613}, {19, 179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>.pvr.ccz</string>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>BTMenus.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>BTMenus.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>BTMenus</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>