<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ice-Frog-13-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 377}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{406, 377}</string>
			<key>spriteSourceSize</key>
			<string>{406, 377}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 1048}, {377, 406}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-13-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {242, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{242, 225}</string>
			<key>spriteSourceSize</key>
			<string>{242, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1058, 1245}, {225, 242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-13-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 132}</string>
			<key>spriteSourceSize</key>
			<string>{142, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 1320}, {132, 142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-14-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {489, 390}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{489, 390}</string>
			<key>spriteSourceSize</key>
			<string>{489, 390}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1486, 0}, {489, 390}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-14-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {291, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{291, 232}</string>
			<key>spriteSourceSize</key>
			<string>{291, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 1813}, {291, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-14-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 137}</string>
			<key>spriteSourceSize</key>
			<string>{172, 137}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1286, 447}, {172, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-15-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 410}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 410}</string>
			<key>spriteSourceSize</key>
			<string>{600, 410}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 447}, {410, 600}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-15-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {357, 244}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{357, 244}</string>
			<key>spriteSourceSize</key>
			<string>{357, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 1455}, {244, 357}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-15-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 144}</string>
			<key>spriteSourceSize</key>
			<string>{210, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 1109}, {144, 210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-16-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {686, 430}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{686, 430}</string>
			<key>spriteSourceSize</key>
			<string>{686, 430}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 447}, {430, 686}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-16-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {409, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{409, 256}</string>
			<key>spriteSourceSize</key>
			<string>{409, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 1455}, {256, 409}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-16-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {241, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{241, 151}</string>
			<key>spriteSourceSize</key>
			<string>{241, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 1865}, {241, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-17-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {742, 446}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{742, 446}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1486, 391}, {446, 742}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-17-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 265}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{443, 265}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 447}, {443, 265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-17-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {261, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1877}, {261, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-18-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {742, 446}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{742, 446}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 0}, {742, 446}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-18-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {441, 265}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{441, 265}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 713}, {441, 265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-18-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {261, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 847}, {156, 261}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-19-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {742, 446}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{742, 446}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {742, 446}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-19-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {441, 265}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{441, 265}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 979}, {441, 265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-19-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {261, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1286, 585}, {156, 261}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-20-Large.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {742, 446}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{742, 446}</string>
			<key>spriteSourceSize</key>
			<string>{744, 446}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1134}, {446, 742}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ice-Frog-20-Medium.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {441, 265}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{441, 265}</string>
			<key>spriteSourceSize</key>
			<string>{443, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{949, 1488}, {441, 265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ice-Frog-20-Small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {261, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 156}</string>
			<key>spriteSourceSize</key>
			<string>{261, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 1877}, {261, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>pvr.ccz</string>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>BTFrog-Ice-13-20-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
