<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugUpgrades</key>
	<dict>
		<key>BTGreenFly</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A Shiny version of this fly will now sometimes appear. Letting the frog eat this fly will shrink the frog back to his original size, and will also instantly increase your Beam Bonus by 10!</string>
				<key>Rate</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>2000</integer>
				<key>Description</key>
				<string>Shiny Green Flies will appear more frequently.</string>
				<key>Rate</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>4000</integer>
				<key>Description</key>
				<string>Shiny Green Flies will appear even more frequently.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>10000</integer>
				<key>Description</key>
				<string>When eaten, the Shiny Green Fly will now cause the frog to both gain an extra life and increase your Beam Bonus by 10, as well as shrink the frog back to his original size!</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
		</array>
		<key>BTSickBug</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A Shiny version of this fly will now sometimes appear. Frying this fly will leave behind a Gross Puddle. Each time the frog touches a puddle, he will temporarily move and eat more slowly.</string>
				<key>Rate</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>2000</integer>
				<key>Description</key>
				<string>Shiny Yellow Flies will appear more frequently.</string>
				<key>Rate</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>4000</integer>
				<key>Description</key>
				<string>Shiny Yellow Flies will appear even more frequently.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>10000</integer>
				<key>Description</key>
				<string>When fried, the Shiny Yellow Fly will now leave behind a much larger Gross Puddle.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
		</array>
		<key>BTIceBug</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A Shiny version of this fly will now sometimes appear. Letting the frog eat this fly will cause the frog to chill out for a few seconds, and will also temporarily freeze all nearby files.</string>
				<key>Rate</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>2000</integer>
				<key>Description</key>
				<string>Shiny Blue Flies will appear more frequently.</string>
				<key>Rate</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>4000</integer>
				<key>Description</key>
				<string>Shiny Blue Flies will appear even more frequently.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>10000</integer>
				<key>Description</key>
				<string>When eaten, the Shiny Blue fly will now cause all the flies on the screen to temporarily freeze, as well as cause the frog to chill out for a few seconds.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
		</array>
		<key>BTFireBug</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A Shiny version of this Fly will now sometimes appear.  Frying this Red Fly will cause it to explode, frying all unhealthy flies nearby.</string>
				<key>Rate</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>2000</integer>
				<key>Description</key>
				<string>Shiny Red Flies will appear more frequently.</string>
				<key>Rate</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>4000</integer>
				<key>Description</key>
				<string>Shiny Red Flies will appear even more frequently.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>Price</key>
				<integer>10000</integer>
				<key>Description</key>
				<string>When fried, the Shiny Red Fly will now explode with much greater force, frying all unhealthy flies on the screen.</string>
				<key>Rate</key>
				<real>0.15</real>
			</dict>
		</array>
	</dict>
	<key>Tools</key>
	<dict>
		<key>BTFoilHat</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>500</integer>
				<key>Description</key>
				<string>Convinced that everyone is out to get you? Use this upgrade before you begin a game, and the frog will be protected from one fry from your beam!</string>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A 3-pack of Foil Hats! Use this upgrade before you begin a game, and the frog will be protected from one fry from your beam!</string>
				<key>Count</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Price</key>
				<integer>1500</integer>
				<key>Description</key>
				<string>A 5-pack of Foil Hats! Use this upgrade before you begin a game, and the frog will be protected from one fry from your beam!</string>
				<key>Count</key>
				<integer>5</integer>
			</dict>
			<dict/>
			<dict/>
		</array>
		<key>BTPennyFrenzy</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>500</integer>
				<key>Description</key>
				<string>Never seem to have enough cash? Use this upgrade before a game, and all Fly Pennies you earn this round will be worth double!</string>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A 3-pack of Penny Frenzies!  Use this upgrade before a game, and all Fly Pennies you earn this round will be worth double!</string>
				<key>Count</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Price</key>
				<integer>1500</integer>
				<key>Description</key>
				<string>A 5-pack of Penny Frenzies!  Use this upgrade before a game, and all Fly Pennies you earn this round will be worth double!</string>
				<key>Count</key>
				<integer>5</integer>
			</dict>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>0</integer>
				<key>Description</key>
				<string>You own get-rich-quick business plan! Pay cold hard cash to permanently collect double Fly Pennies!</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Image</key>
				<string>pyramid-scheme.png</string>
			</dict>
		</array>
		<key>BTBugSpray</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>500</integer>
				<key>Description</key>
				<string>More flies in your swamp than you can handle? Unleash a burst of bug spray in a game to zap all the flies on the screen! You&apos;ll keep your Beam Bonus, and won&apos;t receive a penalty for any healthy flies that get zapped!</string>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Price</key>
				<integer>1000</integer>
				<key>Description</key>
				<string>A 3-pack of Bug Spray! Unleash a burst of bug spray in a game to zap all the flies on the screen! You&apos;ll keep your Beam Bonus, and won&apos;t receive a penalty for any healthy flies that get zapped!</string>
				<key>Count</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>A 5-pack of Bug Spray! Unleash a burst of bug spray in a game to zap all the flies on the screen! You&apos;ll keep your Beam Bonus, and won&apos;t receive a penalty for any healthy flies that get zapped!</string>
				<key>Price</key>
				<integer>1500</integer>
				<key>Count</key>
				<integer>5</integer>
			</dict>
			<dict/>
			<dict/>
		</array>
		<key>BTTool</key>
		<array>
			<dict/>
			<dict>
				<key>Price</key>
				<integer>1500</integer>
				<key>Description</key>
				<string>Having a tough time with that leap mission? Use this item to trade in you current missions for a new set!</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Image</key>
				<string>mission-shuffle.png</string>
			</dict>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
		</array>
	</dict>
	<key>Backgrounds</key>
	<dict>
		<key>BTDefaultBackgroundLayer</key>
		<dict>
			<key>Level</key>
			<integer>0</integer>
			<key>Cost</key>
			<integer>0</integer>
		</dict>
		<key>BTSpaceBackgroundLayer</key>
		<dict>
			<key>Level</key>
			<integer>3</integer>
			<key>Cost</key>
			<integer>0</integer>
		</dict>
		<key>BTDesertBackgroundLayer</key>
		<dict>
			<key>Level</key>
			<integer>6</integer>
			<key>Cost</key>
			<integer>6000</integer>
		</dict>
	</dict>
	<key>Hats</key>
	<dict>
		<key>BTNoHat</key>
		<dict>
			<key>filename</key>
			<string></string>
			<key>Cost</key>
			<integer>0</integer>
		</dict>
		<key>BTTopHat</key>
		<dict>
			<key>filename</key>
			<string>tophat.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTBeret</key>
		<dict>
			<key>filename</key>
			<string>beret.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTCheesehead</key>
		<dict>
			<key>filename</key>
			<string>cheesehead.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTChefHat</key>
		<dict>
			<key>filename</key>
			<string>chef.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTCowboyHat</key>
		<dict>
			<key>filename</key>
			<string>cowboy.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTIndyHat</key>
		<dict>
			<key>filename</key>
			<string>indy.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
		<key>BTSheriffHat</key>
		<dict>
			<key>filename</key>
			<string>sheriff.png</string>
			<key>Cost</key>
			<integer>1000</integer>
		</dict>
	</dict>
</dict>
</plist>
