<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTBugFryLeap</key>
	<dict>
		<key>100grey</key>
		<dict>
			<key>Quantity</key>
			<integer>100</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # grey flies</string>
		</dict>
		<key>500grey</key>
		<dict>
			<key>Quantity</key>
			<integer>500</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # grey flies</string>
		</dict>
		<key>1000grey</key>
		<dict>
			<key>Quantity</key>
			<integer>1000</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # grey flies</string>
		</dict>
		<key>2500grey</key>
		<dict>
			<key>Quantity</key>
			<integer>2500</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # grey flies</string>
		</dict>
		<key>5000grey</key>
		<dict>
			<key>Quantity</key>
			<integer>5000</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # grey flies</string>
		</dict>
		<key>100greyone</key>
		<dict>
			<key>Quantity</key>
			<integer>100</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # grey flies in one game</string>
		</dict>
		<key>200greyone</key>
		<dict>
			<key>Quantity</key>
			<integer>200</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # grey flies in one game</string>
		</dict>
		<key>300greyone</key>
		<dict>
			<key>Quantity</key>
			<integer>300</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # grey flies in one game</string>
		</dict>
		<key>400greyone</key>
		<dict>
			<key>Quantity</key>
			<integer>400</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # grey flies in one game</string>
		</dict>
		<key>500greyone</key>
		<dict>
			<key>Quantity</key>
			<integer>500</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # grey flies in one game</string>
		</dict>
		<key>20yellow</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # yellow flies</string>
		</dict>
		<key>60yellow</key>
		<dict>
			<key>Quantity</key>
			<integer>60</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # yellow flies</string>
		</dict>
		<key>150yellow</key>
		<dict>
			<key>Quantity</key>
			<integer>150</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # yellow flies</string>
		</dict>
		<key>220yellow</key>
		<dict>
			<key>Quantity</key>
			<integer>220</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # yellow flies</string>
		</dict>
		<key>300yellow</key>
		<dict>
			<key>Quantity</key>
			<integer>300</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # yellow flies</string>
		</dict>
		<key>3yellowone</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # yellow flies in one game</string>
		</dict>
		<key>8yellowone</key>
		<dict>
			<key>Quantity</key>
			<integer>8</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # yellow flies in one game</string>
		</dict>
		<key>12yellowone</key>
		<dict>
			<key>Quantity</key>
			<integer>12</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # yellow flies in one game</string>
		</dict>
		<key>16yellowone</key>
		<dict>
			<key>Quantity</key>
			<integer>16</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # yellow flies in one game</string>
		</dict>
		<key>20yellowone</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTSickBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # yellow flies in one game</string>
		</dict>
		<key>20red</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # red flies</string>
		</dict>
		<key>60red</key>
		<dict>
			<key>Quantity</key>
			<integer>60</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # red flies</string>
		</dict>
		<key>150red</key>
		<dict>
			<key>Quantity</key>
			<integer>150</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # red flies</string>
		</dict>
		<key>220red</key>
		<dict>
			<key>Quantity</key>
			<integer>220</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # red flies</string>
		</dict>
		<key>300red</key>
		<dict>
			<key>Quantity</key>
			<integer>300</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # red flies</string>
		</dict>
		<key>3redone</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # red flies in one game</string>
		</dict>
		<key>8redone</key>
		<dict>
			<key>Quantity</key>
			<integer>8</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # red flies in one game</string>
		</dict>
		<key>12redone</key>
		<dict>
			<key>Quantity</key>
			<integer>12</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # red flies in one game</string>
		</dict>
		<key>16redone</key>
		<dict>
			<key>Quantity</key>
			<integer>16</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # red flies in one game</string>
		</dict>
		<key>20redone</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTFireBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # red flies in one game</string>
		</dict>
		<key>150unhealthy</key>
		<dict>
			<key>Quantity</key>
			<integer>150</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>BTBadBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry # total unhealthy flies</string>
		</dict>
		<key>600unealthy</key>
		<dict>
			<key>Quantity</key>
			<integer>600</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>BTBadBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Fry # total unhealthy flies</string>
		</dict>
		<key>1200unhealthy</key>
		<dict>
			<key>Quantity</key>
			<integer>1200</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>BTBadBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # total unhealthy flies</string>
		</dict>
		<key>3000unhealthy</key>
		<dict>
			<key>Quantity</key>
			<integer>3000</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>BTBadBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Fry # total unhealthy flies</string>
		</dict>
		<key>5600unhealthy</key>
		<dict>
			<key>Quantity</key>
			<integer>5600</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>BTBadBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # total unhealthy flies</string>
		</dict>
	</dict>
	<key>BTStuckBugFryLeap</key>
	<dict>
		<key>stuckbug1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry a fly while it is stuck to the frog&apos;s tongue</string>
		</dict>
		<key>stuckbug5</key>
		<dict>
			<key>Quantity</key>
			<integer>5</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry # flies while they are stuck to the frog&apos;s tongue</string>
		</dict>
		<key>stuckbug15</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry # flies while they are stuck to the frog&apos;s tongue</string>
		</dict>
	</dict>
	<key>BTBugEatLeap</key>
	<dict>
		<key>5green</key>
		<dict>
			<key>Quantity</key>
			<integer>5</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies</string>
		</dict>
		<key>15green</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies</string>
		</dict>
		<key>30green</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies</string>
		</dict>
		<key>50green</key>
		<dict>
			<key>Quantity</key>
			<integer>50</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies</string>
		</dict>
		<key>100green</key>
		<dict>
			<key>Quantity</key>
			<integer>100</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies</string>
		</dict>
		<key>3greenone</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies in one game</string>
		</dict>
		<key>8greenone</key>
		<dict>
			<key>Quantity</key>
			<integer>8</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies in one game</string>
		</dict>
		<key>12greenone</key>
		<dict>
			<key>Quantity</key>
			<integer>12</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies in one game</string>
		</dict>
		<key>16greenone</key>
		<dict>
			<key>Quantity</key>
			<integer>16</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies in one game</string>
		</dict>
		<key>20greenone</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTGreenFly</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Let the frog eat # green flies in one game</string>
		</dict>
		<key>5blue</key>
		<dict>
			<key>Quantity</key>
			<integer>5</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies </string>
		</dict>
		<key>15blue</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies</string>
		</dict>
		<key>30blue</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies</string>
		</dict>
		<key>50blue</key>
		<dict>
			<key>Quantity</key>
			<integer>50</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies</string>
		</dict>
		<key>100blue</key>
		<dict>
			<key>Quantity</key>
			<integer>100</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies</string>
		</dict>
		<key>3blueone</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies in one game</string>
		</dict>
		<key>8blueone</key>
		<dict>
			<key>Quantity</key>
			<integer>8</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies in one game</string>
		</dict>
		<key>12blueone</key>
		<dict>
			<key>Quantity</key>
			<integer>12</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies in one game</string>
		</dict>
		<key>16blueone</key>
		<dict>
			<key>Quantity</key>
			<integer>16</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies in one game</string>
		</dict>
		<key>20blueone</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>BTIceBug</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Let the frog eat # blue flies in one game</string>
		</dict>
		<key>10healthy</key>
		<dict>
			<key>Quantity</key>
			<integer>10</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Let the frog eat # total healthy flies</string>
		</dict>
		<key>30healthy</key>
		<dict>
			<key>Quantity</key>
			<integer>30</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat # total healthy flies</string>
		</dict>
		<key>60healthy</key>
		<dict>
			<key>Quantity</key>
			<integer>60</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat # total healthy flies</string>
		</dict>
		<key>100healthy</key>
		<dict>
			<key>Quantity</key>
			<integer>100</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat # total healthy flies</string>
		</dict>
		<key>200healthy</key>
		<dict>
			<key>Quantity</key>
			<integer>200</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Let the frog eat # total healthy flies</string>
		</dict>
	</dict>
	<key>BTFrogFryLeap</key>
	<dict>
		<key>frogfry3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Fry the frog # times</string>
		</dict>
		<key>frogfry9</key>
		<dict>
			<key>Quantity</key>
			<integer>9</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Fry the frog # times</string>
		</dict>
		<key>frogfry15</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Fry the frog # times</string>
		</dict>
	</dict>
	<key>BTFrogExplodeLeap</key>
	<dict>
		<key>frogexplode1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Let the frog eat unhealthy flies until he explodes</string>
		</dict>
		<key>frogexplode3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Let the frog eat unhealthy flies until he explodes # times</string>
		</dict>
		<key>frogexplode6</key>
		<dict>
			<key>Quantity</key>
			<integer>6</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Let the frog eat unhealthy flies until he explodes # times</string>
		</dict>
		<key>frogexplode10</key>
		<dict>
			<key>Quantity</key>
			<integer>10</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Let the frog eat unhealthy flies until he explodes # times</string>
		</dict>
		<key>frogexplode15</key>
		<dict>
			<key>Quantity</key>
			<integer>15</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>6</integer>
			<key>Description</key>
			<string>Let the frog eat unhealthy flies until he explodes # times</string>
		</dict>
	</dict>
	<key>BTMultiplierLeap</key>
	<dict>
		<key>10multiplier20</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>2</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>s</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Keep your Beam Bonus above 10X for a total of # seconds</string>
		</dict>
		<key>20multiplier20</key>
		<dict>
			<key>Quantity</key>
			<integer>20</integer>
			<key>Class</key>
			<string>20</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>s</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Keep your Beam Bonus above 20X for a total of # seconds</string>
		</dict>
		<key>25multiplier3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>25</string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Keep your Beam Bonus at 25X for a total of # minutes</string>
		</dict>
	</dict>
	<key>BTFingersDownLeap</key>
	<dict>
		<key>fingersdown1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Keep two fingers in contact with the screen for # minute</string>
		</dict>
		<key>fingersdown2</key>
		<dict>
			<key>Quantity</key>
			<integer>2</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Keep two fingers in contact with the screen for # minutes</string>
		</dict>
		<key>fingersdown4</key>
		<dict>
			<key>Quantity</key>
			<integer>4</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Keep two fingers in contact with the screen for # minutes</string>
		</dict>
	</dict>
	<key>BTGameLengthLeap</key>
	<dict>
		<key>gamelength1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Play a game lasting at least # minute</string>
		</dict>
		<key>gamelength3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Play a game lasting at least # minutes</string>
		</dict>
		<key>gamelength5</key>
		<dict>
			<key>Quantity</key>
			<integer>5</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Play a game lasting at least # minutes</string>
		</dict>
		<key>gamelength8</key>
		<dict>
			<key>Quantity</key>
			<integer>8</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>4</integer>
			<key>Description</key>
			<string>Play a game lasting at least # minutes</string>
		</dict>
		<key>gamelength10</key>
		<dict>
			<key>Quantity</key>
			<integer>10</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>6</integer>
			<key>Description</key>
			<string>Play a game lasting at least # minutes</string>
		</dict>
	</dict>
	<key>BTAtLeastGameLengthLeap</key>
	<dict>
		<key>withoutgrey30</key>
		<dict>
			<key>Quantity</key>
			<integer>30</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>s</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Play at least # seconds without the frog eating any Grey flies</string>
		</dict>
		<key>withoutgrey1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Play at least # minute without the frog eating any Grey flies</string>
		</dict>
		<key>withoutgrey3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTFly</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Play at least # minutes without the frog eating any Grey flies</string>
		</dict>
		<key>withouthealthy1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>OtherClass</key>
			<string>Fries</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Play at least # minute without frying any healthy flies</string>
		</dict>
		<key>withouthealthy2</key>
		<dict>
			<key>Quantity</key>
			<integer>2</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>OtherClass</key>
			<string>Fries</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Play at least # minutes without frying any healthy flies</string>
		</dict>
		<key>withouthealthy4</key>
		<dict>
			<key>Quantity</key>
			<integer>4</integer>
			<key>Class</key>
			<string>BTGoodBug</string>
			<key>OtherClass</key>
			<string>Fries</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Play at least # minutes without frying any healthy flies</string>
		</dict>
		<key>withouteats30</key>
		<dict>
			<key>Quantity</key>
			<integer>30</integer>
			<key>Class</key>
			<string>BTBug</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>s</string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Play at least # seconds without the frog eating any flies at all</string>
		</dict>
		<key>withouteats1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string>BTBug</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Play at least # minute without the frog eating any flies at all</string>
		</dict>
		<key>withouteats3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string>BTBug</string>
			<key>OtherClass</key>
			<string>Eats</string>
			<key>TimePeriod</key>
			<string>One</string>
			<key>Dictionary</key>
			<true/>
			<key>Identifier</key>
			<string>m</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Play at least # minutes without the frog eating any flies at all</string>
		</dict>
	</dict>
	<key>BTBuyItemLeap</key>
	<dict>
		<key>buyitem1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Buy an item from the Hop Shop</string>
		</dict>
		<key>buyitem3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Buy # items from the Hop Shop</string>
		</dict>
		<key>buyitem10</key>
		<dict>
			<key>Quantity</key>
			<integer>10</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Buy # items from the Hop Shop</string>
		</dict>
		<key>buyupgrade1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>flyupgrade</string>
			<key>Reward</key>
			<integer>2</integer>
			<key>Description</key>
			<string>Upgrade one fly in the Hop Shop</string>
		</dict>
		<key>buyfullupgrades</key>
		<dict>
			<key>Quantity</key>
			<integer>4</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string>flyupgrade4</string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Upgrade all flies to their max level in the Hop Shop</string>
		</dict>
	</dict>
	<key>BTSpendPenniesLeap</key>
	<dict>
		<key>spend2000</key>
		<dict>
			<key>Quantity</key>
			<integer>2000</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Spend # Fly Pennies in the Hop Shop</string>
		</dict>
		<key>spend7000</key>
		<dict>
			<key>Quantity</key>
			<integer>7000</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Spend # Fly Pennies in the Hop Shop</string>
		</dict>
		<key>spend20000</key>
		<dict>
			<key>Quantity</key>
			<integer>20000</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>5</integer>
			<key>Description</key>
			<string>Spend # Fly Pennies in the Hop Shop</string>
		</dict>
	</dict>
	<key>BTGameCompleteLeap</key>
	<dict>
		<key>play1</key>
		<dict>
			<key>Quantity</key>
			<integer>1</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Complete one game of Don&apos;t Fry the Frog</string>
		</dict>
		<key>play3</key>
		<dict>
			<key>Quantity</key>
			<integer>3</integer>
			<key>Class</key>
			<string></string>
			<key>TimePeriod</key>
			<string>Forever</string>
			<key>Dictionary</key>
			<false/>
			<key>Identifier</key>
			<string></string>
			<key>Reward</key>
			<integer>3</integer>
			<key>Description</key>
			<string>Complete three games of Don&apos;t Fry the Frog</string>
		</dict>
	</dict>
</dict>
</plist>
