<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bugs</key>
	<dict>
		<key>BTSickBug</key>
		<dict>
			<key>Type</key>
			<string>ZapMilestone</string>
			<key>Number</key>
			<string>100</string>
		</dict>
		<key>BTIceBug</key>
		<dict>
			<key>Type</key>
			<string>ZapMilestone</string>
			<key>Number</key>
			<integer>300</integer>
		</dict>
		<key>BTGreenFly</key>
		<dict>
			<key>Type</key>
			<string>TimeMilestone</string>
			<key>Number</key>
			<integer>25</integer>
		</dict>
		<key>BTFireBug</key>
		<dict>
			<key>Type</key>
			<string>ZapMilestone</string>
			<key>Number</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>Frog</key>
	<array>
		<dict>
			<key>Interval</key>
			<real>0.75</real>
			<key>Speed</key>
			<real>0.75</real>
			<key>Animation</key>
			<real>0.1</real>
			<key>Time</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>1</real>
			<key>Time</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>1.25</real>
			<key>Time</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>1.5</real>
			<key>Time</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>1.75</real>
			<key>Time</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2</real>
			<key>Time</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.05</real>
			<key>Time</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.1</real>
			<key>Time</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.15</real>
			<key>Time</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.2</real>
			<key>Time</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.25</real>
			<key>Time</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.3</real>
			<key>Time</key>
			<integer>220</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.35</real>
			<key>Time</key>
			<integer>240</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.4</real>
			<key>Time</key>
			<integer>260</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.45</real>
			<key>Time</key>
			<integer>280</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.5</real>
			<key>Time</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.55</real>
			<key>Time</key>
			<integer>320</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.6</real>
			<key>Time</key>
			<integer>340</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.65</real>
			<key>Time</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.7</real>
			<key>Time</key>
			<integer>380</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.75</real>
			<key>Time</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.8</real>
			<key>Time</key>
			<integer>420</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.85</real>
			<key>Time</key>
			<integer>440</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.9</real>
			<key>Time</key>
			<integer>460</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>2.95</real>
			<key>Time</key>
			<integer>480</integer>
		</dict>
		<dict>
			<key>Speed</key>
			<real>3</real>
			<key>Time</key>
			<integer>500</integer>
		</dict>
	</array>
</dict>
</plist>
